<div id='' class='col-md-12' style='text-align:left;margin-top:5%;' >

<input id='to' ng-model='user.name' type='text' placeholder='Name...'><br>

<input id='subject' ng-model='user.subject' type='text' placeholder='Subject...'>
<br>

<input id='content' placeholder='Email Address (Required!)'ng-model='user.emailAddress' type='email' required>
			<br>
			
			<textarea rows='5' cols='50'ng-model='user.body' id='updateTextInputBody' placeholder='Type your message here! '></textarea>
			<br>
			<input id='send_email' type='button' value='Click to send!' ng-click='updates(user)'/>


</div>

