<ul class="nav navbar-nav mainNav hidden-xs col-md-12" style=''>
                <li class='navBigStyle 'style=''><a style='font-size:24px; 'href="#/">What's <br>Brewin'</a></li>
                <li class='navBigStyle 'style=''><a style='font-size:24px;padding:53px 34px; 'ng-href="#/menu">Menu</a></li>
                <li class='navBigStyle 'style=''><a style='font-size:24px;padding:53px 15px; 'ng-href="#/locs">Locations</a></li>
                <li class='navBigStyle 'style=''><a style='font-size:24px;padding:53px 31px;'ng-href='#/media'>Press</a></li>
                <li class='navBigStyle 'style=''><a style='font-size:24px;padding:53px 20px;'ng-href=''>JUICED</a></li>
                
</ul>

