<div id=''class='col-md-12'style=''>
<div id=''class='col-md-10 col-md-offset-1'style='padding:10px;background-color:rgba(51,62,70,0.9);'>
	<div id='aboutSelections'class='col-md-12 aboutNav'style='text-align:center;border-bottom:4px solid rgba(227,226,222, 0.6);'>
			<span id=''class='col-md-3'style='float:left;'>
					<h2>About</h2>
			</span>



				
				<div id='ownersInfo'class='aboutNavSelector col-md-2'style='float:right;position:relative;top:25px;'>
					<div id='aboutImages'class='aboutNavSelectorImage'style='width:20px;height:20px;float:left;'>
					</div>
					<span><h5>The Owners</h5></span>
				</div>
				<div id='baristasInfo'class='aboutNavSelector col-md-2'style='float:right;border-right:4px solid rgba(227,226,222, 0.6);position:relative;top:25px;'>
					<div id='aboutImages'class='aboutNavSelectorImage'style='width:20px;height:20px;float:left;'>
					</div>
					<span><h5>The Baristas</h5></span>
				</div>
				<div id='storesInfo'class='aboutNavSelector col-md-2'style='float:right;border-right:4px solid rgba(227,226,222, 0.6);position:relative;top:25px;'>
					<div id='aboutImages'class='aboutNavSelectorImage'style='width:20px;height:20px;float:left;'>
					</div>
					<span><h5>Konditori</h5></span>
				</div>
			</div>


	</div>
	
	
</div>


<div id=''class='col-md-12'style=''>

	<div id='aboutContents'class='col-md-10 col-md-offset-1'style='background-color:rgba(51,62,70,0.9);'>	
		<div id='aboutStores'class=''style=''>
		<about-Store></about-Store>

		
		</div>
		
		<div id='aboutOwners'class='notMain'style=''>
		<about-Owners></about-Owners>
		
		</div>
		
		<div id='aboutBaristass'class='notMain'style=''>

		
		</div>
	</div>


</div>