<div id=''class='col-md-12 col-md-offset-2'style='padding:10px;'>

<div class'row'>
	<div id=''class='col-md-4
	'style='background-color:#f1f1f1; font-size:24px;margin:1%;'>
		<h3>KONDITORI (noun) \Khan- da- tor- ree\:</h3>

<p>1: Traditional Swedish gathering place to enjoy warm drinks, <br>fine baked goods and confections
<br>

<p>2: Where one goes to Fika (take a coffee or tea break) 
		</div>
</div>
	<div class='row'>
		<div id=''class='col-md-4'style='background-color:#f1f1f1'>
			<p>Established in 2010 in Park Slope, Brooklyn, KONDITORI has grown to seven locations as the go-to neighborhood coffeehouse.

<p>The creation of the flavorful Konditori coffee bean involves mixing Arabic beans from three different Central American countries through an air heated process which produces an exquisite flavor that is uniquely Konditori. Coffee is brewed fresh every hour on the hour to maximize the aromatic experience ensuring the perfect cup of coffee every time. We use Fresh Press for our medium to light house blends creating a very robust aroma with a uniquely clean finish. Our Iced Coffee is cold brewed for 24 hours - producing superior flavor with 70% less acidity and no bitterness for the perfect refresher.

<p>As a perfect complement to our coffee, we offer a cornucopia of Swedish and American treats including hand rolled kettle boiled bagels, gourmet muffins, sandwiches and fine Swedish baked goods like Cardamom Bread (coffee bread with almond filling), Kanelbulle (cinnamon rolls) and Coco Balls to name a few.

<p>Modeling after the Swedish tradition of clean healthy living, Konditori is soon expanding with a Bakery in their Prospect Heights Shop to include Vegan and Gluten Free delights. Everything is flavorful, natural and freshly prepared. 

		</div>
</div>
		</div>