<div id='' class='col-xl-12' style=''>
	<div id='' class='col-xl-10' style=''>

		
			<ul>

				<li ng-repeat='update in Updates'>
				<div id='updateBox1' class=' ' style='border-bottom:4px solid rgba(33, 32, 31, 0.34);border-right:6px solid rgba(35, 35, 35, 0.3);;padding:2px;margin:10px;width:25%;text-align:center;padding:10px;word-wrap:break-word;background-color:rgba(162, 154, 152, 0.86)'>
           <div id='' class='' style=''>
              <h2>{{update.Title}}</h2>
           </div>
           <div id='' class='' style=''>
           <p ng-bind-html='update.Body'></p>
<br>
<br>

     Konditori 
           </div>
        </div>
				
				</li>
			</ul>
		</div>

		<footer>
			<label for='titleInput'>Title:</label>
			<input ng-model='title' type='text' placeholder='Enter the title'>
			<br>
			<textarea rows='5' cols='50'ng-model='update' id='updateTextInputBody' ></textarea>
			<br>
			<input type='button' value='Click to Save' ng-click='addUpdate();'/>
		</footer>


<p> Sup </p>

</div>




        <strong>{{update.Title}}</strong>
				{{update.Body}}