<div id="bodyful"  class='col-md-8 col-md-offset-3 col-xs-12' style=''>
 	<ul id="coffeeStat" class='col-md-8 col-xs-10 clearfix' style='background-color:#f1f1f1;margin:1%;padding:3%;'><h2>Coffee Station
 		</h2><li>Clean coffee pots and place them aside.</li>
 		<li>Move cups and lids on to different counter.</li>
 		<li>Store any remaining muffins in plastic containers.</li>
 		<li>Clean muffin trays</li>
 		<li>Wipe down counter with bleach water</li>
 		<li>Place coffee pots and cups back in place</li>
 		<li>Restock any cups or lids</li>
 		<li>Restock any teas</li>
 		<li>Restock any coffee</li>
 	</ul>



 	<ul id="pastStat" class='col-md-8 col-xs-10 clearfix' style='background-color:#f1f1f1;margin:1%;padding:3%;'><h2>Pasteries/Cookie Station
 		</h2><li>Wipe down glass cookie jars</li>
 		<li>Wipe down countertop (including under cookie jars)</li>
 		<li>Put away any remaining pasteries in plastic containers</li>
 		<li>Wipe down wooden pastery tray with bleach water</li>
 		<li>Wipe down pastery countertop</li>
 		<li>Check for crumbs on top of ice machine and in waxed bag box.</li>
 		<li>Restock wax or paper bags</li>
 	</ul>

 	<ul id="bagelStat" class='col-md-8 col-xs-10 clearfix' style='background-color:#f1f1f1;margin:1%;padding:3%;'><h2>Bagel Station
 		</h2><li>Check freshness of remaining bagels
 			<li>If bad, throw out</li>
 			<li>If good, save in plastic container</li>
 		</li>
 		<li>Wipe down cutting board with bleach water</li>
 		<li>Clean off bagel baskets</li>
 		<li>Wipe down the backside of the bagel racks</li>
 		<li>Wipe down toaster
 			<li>Remove the crumb catcher from the bottom of the toaster</li>
 		</li>
 		<li>Move wax papers and plastic gloves on to bagel baskets</li>
 		<li>Wipe down bagel counter with bleach water</li>
 		<li>Put away knives 
 			<li>Check cream cheese fridge for any hidden knives</li>
 		</li>

 	</ul>

 	<ul id="espresStat" class='col-md-8 col-xs-10 clearfix' style='background-color:#f1f1f1;margin:1%;padding:3%;'><h2>Espresso Station 2 Parts! 
 		</h2><ul><strong>Grinder</strong>
 			<li>Push-in black tab on the bottom half of the clear plastic whole bean container on top of the grinder</li>
 			<li>Grind any espresso beans under the black tab and dispose of grounded espresso</li>
 			<li>Place any remaining whole bean espresso back in plastic espresso container</li>
 			<li>Throw away used espresso from the espresso waste bin, into the trash</li>
 			<li>Wipe or dust off any remaining espresso dust from the grinder</li>
 			<li>Lift grinder and remove black metal tray from under it</li>
 			<li>Clean the tray in sink</li>
 			<li>Wipe down the area around and under the grinder</li>
 			<li>Put back metal tray</li>
 			<li>Optional: Grind decaf espresso if needed</li>

 		</ul>

<br>
 		<ul><strong>Espresso Machine</strong>
 			<li>Dump any used espresso from baskets</li>
 			<li>Remove basket screens from handles</li>
 			<li>Place handles, screens, and glasses used for catching espresso into empty espresso waste bin</li>
 			<li>Pour 3 teaspoons of espresso cleaner into bin</li>
 			<li>Fill with hot water, and leave in sink</li>
 			<li>Use the blank basket with espresso cleaner to clean the inside of machine</li>
 			<li>Wipe down machine</li>
 			<li>Remove the grate and tray, and clean off in sink</li>
 			<li>Place everything back in order</li>
 			<li>Rinse and place items from waste bin back</li>
 			<li>Wash milk pitchers</li>
 			<li>Fill both cappucino milk pitchers with hot water, and leave a steam wand in each one</li>
 		</ul>
	 </ul>

	 <ul id="milkStat" class='col-md-8 col-xs-10 clearfix' style='background-color:#f1f1f1;margin:1%;padding:3%;'><h2>Fridges 
	 	</h2><li>Wipe down the inside walls of the fridges.</li> 
	 	<li>Restock any milks</li>
	 	<li>Check for any knives in cream cheese fridge.</li>

	 </ul>

	 <ul id="sugarStat" class='col-md-8 col-xs-10 clearfix' style='background-color:#f1f1f1;margin:1%;padding:3%;'><h2>Sugar area 
	 	</h2><li>Wipe down simple syrup containers 
	 		<li>If needed, make more simple syrup</li></li>
	 	<li>Refill sugar containers, packets and in pour container, and refill honey.</li>
	 	<li>Wipe down honey container</li>
	 	<li>Place sugars, honey, and cinnannom into condiment plastic bin.</li>
	 	<li>Clean white tray</li>
	 	<li>Wipe wooden surface with bleach water</li>
	 </ul>

	 <ul id="genStat" class='col-md-8 col-xs-10 clearfix' style='background-color:#f1f1f1;margin:1%;padding:3%;'><h2>General/Final cleaning 
	 	</h2><li>Sweep under the counters throughly</li>
	 	<li>If store is empty, put up all the chairs</li>
	 	<li>Sweep entire store</li>
	 	<li>Mop up bathroom floor</li>
	 	<li>Put out all cardboard boxes</li>
	 	<li>Put out all trash</li>
	 	<li>If Saturday, put trash in basement</li>
	 </ul>
</div>