
<div id='mainHTML' class=' col-xl-12 col-xs-12 col-md-10 col-md-offset-1  clearfix' style='background-color:rgba(51,62,70,0.9);'>

  <div id='aboutSelections'class='col-md-12 hidden-xs aboutNav'style='text-align:center;border-bottom:4px solid rgba(227,226,222, 0.6);'>
      <span id=''class='col-md-3 col-xs-3'style='float:left;'>
          <h2>What's Brewin'</h2>
      </span>



        
        <div id=''class='aboutNavSelector col-md-2'style='position:relative;top:25px;;float:right;'>
          <div id='aboutImages'class='aboutNavSelectorImage'style='width:20px;height:20px;float:left;'>
          </div>
          <span><h5>Sweed-ums</h5></span>
        </div>
        <div id='Info'class='aboutNavSelector col-md-2 col-xs-2'style='border-right:4px solid rgba(227,226,222, 0.6);position:relative;top:25px;float:right;'>
          <div id='aboutImages'class='aboutNavSelectorImage'style='width:20px;height:20px;float:left;'>
          </div>
          <span><h5>Agg</h5></span>
        </div>
        <div id='storesInfo'class='aboutNavSelector col-md-2 col-xs-2'style=';position:relative;top:25px;float:right;border-right:4px solid rgba(227,226,222, 0.6)'>
          <div id='aboutImages'class='aboutNavSelectorImage'style='width:20px;height:20px;float:left;'>
          </div>
          <span><h5>Konditori</h5></span>
        </div>
      </div>

    <div class='visible-xs-* hidden-sm hidden-md hidden-lg' style='border-bottom:4px solid #add8e6;background-color:#f0f0f0;text-align:center;'>
      <h2>What's New</h2>
    </div>

    <div id='mainUpdateBox' class='col-xs-10 col-xs-offset-2  visible-xs-* visible-sm-* hidden-md hidden-lg' style='position:relative;right:14%;padding-left:10px;'>
      
 <div id='updateBox1' class='clearfix col-xs-11' style='width:100%;height:auto;'>
           <div id='' class='' style=''>
              <h4>{{Updates[Updates.length-1].Title}}</h4>
           </div>
           <div id='' class='' style=''>
            <p ng-bind-html='Updates[Updates.length-1].Body'></p>
            <br>
            <br>

       <span style='float:right'> - Donald Trump</span>  
           </div>
        </div>


        <div id='updateBox2' class='clearfix  col-xs-11' style='width:100%;height:auto;'>
            <div id='' class='' style=''>
             <h4>{{Updates[Updates.length-2].Title}}</h4>
            </div>
            <div id='' class='' style=''>
             <p ng-bind-html='Updates[Updates.length-2].Body'></p>
<br>
<br>

       <span style='float:right'> - Donald Trump</span>
            </div>
        </div>
        <div id='updateBox3' class='clearfix col-xs-11' style='width:100%;height:auto;'>
            <div id='' class='' style=''>
              <h4>{{Updates[Updates.length-3].Title}}</h4>
            </div>
            <div id='' class='' style=''>
              <p ng-bind-html='Updates[Updates.length-3].Body'></p>
<br>
<br>

       <span style='float:right'> - Donald Trump</span>
            </div>
        </div>
    </div>



<!-- THIS IS WHERE TABLET DESKTOP VIEWS BEGIN -->
     <div id='mainUpdateBox' class=' clearfix col-md-11 hidden-sm   col-xs-4 hidden-xs' style='border:1px solid black;padding:1%;color:#908777'>

        <div id='updateBox1' class='clearfix  col-xs-3 col-md-10' style=''>
        <div id=''class='col-md-10 col-md-offset-3'style='border-bottom:4px solid rgba(227,226,222,0.6);box-shadow: 7px 3px 14px rgba(0, 0, 0, 0.4);'>
           <div id=''class='col-md-5'style='border:1px solid black;height:250px;'>

           </div>
           <div id='' class='col-md-7' style='text-align:center;'>
              <h2>{{Updates[Updates.length-1].Title}}</h2>
           </div>
           <div id='' class='col-md-11' style=''>
            <p ng-bind-html='Updates[Updates.length-1].Body'></p>
            <br>
            <br>

       <span style='float:right'> - Donald Trump</span>  
           </div>
          </div>
        </div>
        <br>

        <div id='updateBox2' class='clearfix col-xs-10 col-md-10' style=''>
            <div id=''class='col-md-10 col-md-offset-3'style='border-bottom:4px solid rgba(227,226,222,0.6);box-shadow: 7px 3px 14px rgba(0, 0, 0, 0.4);'>
            <div id=''class='col-md-5'style='border:1px solid black;height:250px;'>

            </div>
            <div id='' class='col-md-7' style='text-align:center;'>
             <h2>{{Updates[Updates.length-2].Title}}</h2>
            </div>
            <div id='' class='col-md-10' style=''>
             <p ng-bind-html='Updates[Updates.length-2].Body'></p>
<br>
<br>

       <span style='float:right'> - Donald Trump</span>
            </div>
          </div>
        </div><br>
        <div id='updateBox3' class='clearfix  col-xs-10 col-md-10' style=''>
          <div id=''class='col-md-10 col-md-offset-3'style='border-bottom:4px solid rgba(227,226,222,0.6);box-shadow: 7px 3px 14px rgba(0, 0, 0, 0.4);'>
            <div id=''class='col-md-5'style='border:1px solid black;height:250px;'>

            </div>
            <div id='' class='col-md-7' style='text-align:center;'>
              <h2>{{Updates[Updates.length-3].Title}}</h2>
            </div>
            <div id='' class='col-md-10' style='overflow:auto;'>
              <p style='overflow:hidden;'ng-bind-html='Updates[Updates.length-3].Body'></p>
<br>
<br>

       <span style='float:right'> - Konditori</span>
            </div>
        </div>
        </div>
    </div>
</div>