

<div id='menuContainer' class='col-md-10 col-md-offset-1 col-xs-12' style='margin:1%;'>
	
		
	<div id='outerBox' class='col-md-5 col-xs-11'>
		<div id='boxxed'class='col-md-12 col-xs-12 boxStyleBorder' >
			<div class='boxxedContent'>
					<!-- Coffee -->			
				<ul style='list-style:none;display:inline; padding:2%;'><h2>{{menuItems[0].type}}</h2>
					<div class='itemsNames'><br>
						<span style=' 
							display:inline;
							float:right;


						'class='priceLists'> Litten  ~  Stor</span><br>
						<li ng-repeat="items in menuItems[0].objects">
							<strong>{{items.item}}</strong>
							<div style='
								display:inline;
								float:right;


							'

								class='priceLists priceAlign'>
									{{items.price[0]|currency}}     
									<em>{{items.price[1]|currency}}</em>
										</span>
								</div>
						</li>
					</div>
					<!-- <div class='itemPrices'>
						
							<div class='itemsPricesSmall'>
								<li> Small 
								
									<li ng-repeat='prices in menuItems[0].objects'>{{prices.price[0] | currency}}</li>
								
								</li>
							</div>
							<div class='itemsPricesLarge'>
								<li> Large 
									<li ng-repeat='prices in menuItems[0].objects'>{{prices.price[1] | currency }}
									</li>
								</li>
							</div>

					</div> -->
				</ul>
				
				<br>

					<!-- Espresso -->
				<ul style='list-style:none;display:inline; padding:2%;'><h2>{{menuItems[1].type}}</h2>
					<div class='itemsNames'><br>
						<span style=' 
							display:inline;
							float:right;


						'class='priceLists'> Litten  ~  Stor</span><br>
						<li ng-repeat="items in menuItems[1].objects">
							<strong>{{items.item}}</strong>
							<div style='
								display:inline;
								float:right;


							'

								class='priceLists priceAlign'>
									{{items.price[0]|currency}}     
									<em>{{items.price[1]|currency}}</em>
										</span>
								</div>
						</li>
					</div>
	
			</div>
		</div>
		</div>
				<!-- Bagels -->
		
				<div id='outerBox' class='col-md-5 col-xs-11'>
		<div id='boxxed'  class='col-md-12 col-xs-12 boxStyleBorder'>
			<ul style='list-style:none;display:inline; padding:2%;'><h3>{{menuItems[2].objects[0].item}} 
				</h3><br>
					Plain: <span style='
								display:inline;
								float:right;
								' 

								class='priceAlignReg'>{{menuItems[2].objects[0].price | currency}}</span>
				
						<li ng-repeat='bagels in menuItems[2].objects[0].options ' style='
							border-bottom:1px dotted white;
							'>
						<span style='
						font-style:italic;
						margin-right:3px;


						'>with</span> 
							<strong>{{bagels.cream}}</strong> 
								<span style='
								display:inline;
								float:right;
								' 

								class='priceAlignReg'>{{bagels.cost|currency}}</span>

						</li> 
			</ul>

		</div>
		</div>
				<!-- Crossants -->
		
				<div id='outerBox' class='col-md-5 col-xs-11'>
		<div id='boxxed' class='col-md-12 col-xs-12 boxStyleBorder'> 
			<ul style='list-style:none;display:inline; padding:2%;'>{{menuItems[2].objects[1].item}}
				<br>
					<li style='
					border-bottom:1px dotted rgba(255,255,255,0.35);

					'ng-repeat='crossants in menuItems[2].objects[1].option'><strong style='
						border-bottom:hidden;

					'>{{crossants.name}}</strong>
						
						<span style='
						display:inline;
						float:right;
						'>{{crossants.cost|currency}}</span>
						</em>
						</li>
			</ul>
		</div>
		</div>
				<!-- Baked Goods -->
		
				<div id='outerBox' class='col-md-5 col-xs-11'>
		<div id='boxxed' class='col-md-12 col-xs-12 boxStyleBorder'>
			<ul style='list-style:none;display:inline; padding:2%;'><h3>{{menuItems[2].objects[2].name}}</h3>
				<li ng-repeat='goods in menuItems[2].objects[2].goods|limitTo:5 '><strong>{{goods.item}}</strong>
				<span style='
					display:inline;
					float:right;
				'>{{goods.price|currency}}
				</li>
				<li style='display:block;'><strong>{{menuItems[2].objects[2].goods[5].item}} --</strong> 
				<li ng-repeat='sweed in menuItems[2].objects[2].goods[5].options' style='list-style-type:initial;margin:6px;display:inline-block;'><h5><strong>{{sweed.name}}</strong></h6> <span>{{sweed.cost|currency}}</span></li>
				</li>
			</ul>
			</div>
		</div>
 			<!-- Drink Menu -->
		


 			<div id='outerBox' class='col-md-5 col-xs-11'>
		<div id='boxxed' class='col-md-12 col-xs-12 boxStyleBorder' 
		>
			<ul style='display:inline;list-style:none;display:inline; padding:2%;'><h3>{{menuItems[3].type}}</h3>
			<li ng-repeat='drinks in menuItems[3].objects|limitTo:9|limitTo:-8'>
				<strong>{{drinks.item}}</strong>
					<span style='float:right;'>{{drinks.price|currency}}</span>
				</li>

			</ul>
		</div>
		</div>


		<div id='outerBox' class='col-md-5 col-xs-11'>
			<div id='boxxed' class='col-md-12 col-xs-12'
			
			>
			<ul style='list-style:none;display:inline; padding:2%;'><h3>{{menuItems[4].type}}</h3>
			<h5>Litten: {{menuItems[4].objects[0].price[0]}}</h5>
			<h5>Stor: {{menuItems[4].objects[0].price[1]}}</h5>
				<h2>~Black Tea~</h2><br>
			<li ng-repeat='teas in menuItems[4].objects|limitTo:5' class=''style='
				display:inline;

			'>
				<strong style=''> {{teas.item}} <br></strong>
				</li><br><br>
				<h2>~Herbal Tea (Decaf)~</h2>
			<li ng-repeat='teas in menuItems[4].objects|limitTo:8|limitTo:-3'>
			<strong>{{teas.item}}</strong>
			</li>
				</ul>

			</div>
		</div>
</div>