

<div class='storePage col-md-12 col-xs-12 ' id='menuContainer' style='font-size:25px; background-color:rgba(51,62,70,0.9);padding:1%;'>
<div id=''class='col-md-6 col-md-offset-3'style=''>
	<div class='col-md-12'	id='outerBox' style=''>
		<div id='boxxed' class='col-md-12'style='padding:1%;'>
			<!-- <div id='' class='col-md-4' style='height:80%;border:1px solid black;'> -->
				<img ng-src='{{store.image}}'/>
			<!-- </div>
 -->
			<div id=''class='col-md-6'>
				<ul><span id='storeName'>{{store.name}}</span>
					<br>
					<br>
						<li>Address: <br><span id='storeDetail'> {{store.address}}</span></li>
							<br>
			
							<li>Telephone: <br><span id='storeDetail'>{{store.phone}}</span></li>
				</ul>
				</div>
			</div>
		</div>
	</div>
</div>
</div>


<!-- FIX IMAGE SOURCE ON STOREIMAGE -->