<div id='' class='col-xl-12' style='background-color:white;'>
	<div id='' class='col-xl-10' style='background-color:grey'>

		<div>
			<ul>

				<li ng-repeat='update in Updates'>
				<div id='updateBox1' class=' ' style='border-bottom:4px solid #add8e6;border-right:6px solid #add8e6;padding:2px;margin:10px;width:25%;text-align:center;padding:10px;word-wrap:break-word;'>
           <div id='' class='' style=''>
              <h2>{{update.Title}}</h2>
           </div>
           <div id='' class='' style=''>
           <p ng-bind-html='update.Body'></p>
<br>
<br>

     Konditori 
           </div>
        </div>
				
				</li>
			</ul>
		</div>

		<footer>
			<label for='titleInput'>Title:</label>
			<input ng-model='title' type='text' placeholder='Enter the title'>
			<br>
			<textarea rows='5' cols='50'ng-model='update' id='updateTextInputBody' ></textarea>
			<br>
			<input type='button' value='Click to Save' ng-click='addUpdate();'/>
		</footer>
	</div>

<p> Sup </p>

</div>




        <strong>{{update.Title}}</strong>
				{{update.Body}}