<div class="jumbotron">
  <h1>Konditori</h1>
  <p class="lead">
    <br>
    1: Traditional Swedish gathering place to
          enjoy friends over great coffee, fine
          baked goods and confections.<br>
          2: Where one goes for a coffee break
        
  </p>
  <li ng-repeat='location in locations'>{{location}}</li>
</div>

<div class="row marketing mainContent">
  <div class='container'>
    <div class='col-md-6 col-xs-6'>
       <p>KONDITORI 's trademark is strong flavored coffee ground fresh daily on premises. Our environment replicates a vintage/rustic feel that offers a comfortable atmosphere for our customers to enjoy comradery while they feast on hand rolled kettle boiled bagels, gourmet muffins and fine Swedish treats like Cardamom Bread (coffee bread with almond filling), Kanelbulle (cinnamon rolls) and Coco Balls.</p> 
             
       <p>We work with a Brooklyn roaster to formulate an exclusive process for roasting Konditori Beans. This involves putting Arabic beans from three different central American countries through an air heated process which produces an exquisite flavor that is uniquely ours.</p>
    </div> 
    <div class='col-md-6 col-xs-6'>
       <p>
         Our coffee is brewed fresh every hour on the hour to maximize the aromatic experience. We also French Press which creates a very robust aroma with our medium to light house blends resulting in a surprisingly clean finish . Our Ice Coffee is cold brewed for 24 hours producing superior flavor with 70% less acidity and no bitterness..</p>
            
         <p>We aspire to combine the hominess of Swedish Coffee Culture with the edginess of Brooklyn... </p>
      </div>
  </div>
</div>
